
  .container {
    min-height: 100%;
    width: 100%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  
  .search-form {
    width: 90%;
    padding: 1%;
  }

  .search-bar{
    margin-left: 4%;
  }

  .instruction{
    padding: 1%;
    color: grey;
    font-family: 'Times New Roman', Times, serif;
  }

  .card-item {
    min-width: 90%;
    min-height: 80%;
    text-align: center;
    display: grid;
    align-content: center;
  }

  .thumbnail{
    font-weight: bold;
    font-style: oblique;
    font-size: x-large;
  }