
<mat-card class="article-card">
    <a [href]="article.URL" target="_blank">
    <mat-grid-list cols="3" rowHeight="3:2">   
        <mat-grid-tile colspan="2" >
            <div class='internalMatGrid' >
                <mat-grid-list cols="1" rowHeight="9:1">
                    <mat-grid-tile rowspan="1">
                        <mat-card-header>
                            <mat-card-title>{{article.Title}}</mat-card-title>
                        </mat-card-header>
                    </mat-grid-tile>
                    <mat-grid-tile rowspan="1">
                        <mat-card-content>
                            <p><br>{{article.Content}}</p>
                        </mat-card-content>
                    </mat-grid-tile>
                    <mat-grid-tile rowspan="1">
                        <mat-card-footer>
                            <div>{{article.source}}</div>
                            <div>{{article.PublishedAt | date}}</div>
                        </mat-card-footer>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile colspan="1">
            <img mat-card-image [src]="article.URLToImage" alt="Photo of a Shiba Inu">
        </mat-grid-tile>
    </mat-grid-list>
    </a>
</mat-card>


  
